/* installfont */
@font-face{
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue-Regular.ttf');
}

body{
    margin: 0;
}

.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
}


.header{
    width: 100%;
    overflow: hidden;
    background: rgb(167, 167, 167);
    padding-left: 50px;
    margin-bottom: 50px;
}

.header .logo{
    font-size: 32px;
    float: left;
    font-family: BebasNeue;
}

.header .navigation{
    float: right;
    margin-top: 40px;
}

.header .container .navigation li{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;

}

.header .container .navigation li a{
    color: #FFF;
    text-decoration: none;
}

.header .container .navigation li a:hover{
    color: rebeccapurple;
    text-decoration: underline;
}